/* ================= HEADER  ==================== */
.sticky-wrapper{
  width: 100%; 
  left: 0; top: 0;
  z-index: 900 !important;
}
header{
  background:$bg-light;
  z-index: 900 !important;
}
.logo{
  width:80px;
  padding:10px;
}
.logo img{
  width:100%;
}
.top-navigation ul{
  margin:0;
  list-style: none;
  padding: 0;
  display:flex;
}
.top-navigation li{}
.top-navigation a{
  display:inline-block;
  vertical-align: top;
  padding:0 10px;
}