
// Body
$bg-primary: #f2f2f2;
$bg-light: #e6e7e8;
$bg-dark: #333;

// Brands
$primary-color:#ef3037;
$second-color:#000;
$brand-primary: #015bb3;
$brand-secondary: #093164;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$primary-font: 'Poppins', sans-serif;
$title-font:'Spectral', sans-serif;
$font-size-xl:4vh;
$font-size-l:3vh;
$font-size-m:2vh;
$font-size-s:1.6vh;
$font-size-xs:1.4vh;
$line-height-base: 1.6;
$font-color: #262626;
$light-color:#fff;
$dark-color:#333;
$grey:#999;
